.containers {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn{
  background-color: #4ECCA3;
  font-weight: bold;
  color: #fff;
  padding: 1%;
  border: none;
  border-radius: 5%;
  font-size: 1rem;
  height: 50px;
  width: 15%;
  margin: 50px;
}

.player1{
  display: none;
 
  margin: 50px;
}
.player2{
  display: none;

  margin: 50px;
}

.highlight{
  box-shadow: 10px 10px red;
}
